# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

# Redis
REDIS_PORT=6379

# Auth service
AUTH_APP_VERSION=0.1.0
AUTH_HTTP_PORT=8080
JWT_SECRET=change-me

# Shortlink service
SHORTLINK_APP_VERSION=0.1.0
SHORTLINK_HTTP_PORT=8081

# Analytics service
ANALYTICS_APP_VERSION=0.1.0
ANALYTICS_HTTP_PORT=8082
ANALYTICS_GRPC_PORT=50051
