# Бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файл результата тестов
*.test

# Профилирование
*.out

# Зависимости (если используете vendor)
/vendor/

# go.work файлы (если не нужны в репозитории)
go.work
go.work.sum

# Переменные окружения
.env
.env.local

# IDE / редакторы
.idea/
.vscode/
*.swp
*.swo

# Сборочные артефакты (если у вас есть папка bin/ или dist/)
/bin/
/dist/

# Логи
*.log

# OS-специфичные файлы
.DS_Store
Thumbs.db
